
.answer {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
  }
.match-box {
display: flex;
justify-content: space-between;
border: 5px solid black;
}

.answer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}